.skills-section {
    background-color: #0d0d0d;
    min-height: auto;
    padding: 80px 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

.skills-container {
    width: 80%;
    margin: auto;
}

#skills {
    padding-top: 120px;
}

.main-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #00e5ff;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 10px;
}

.underline {
    width: 60px;
    height: 3px;
    background-color: #00e5ff;
    margin: 0 auto 60px auto;
    border-radius: 5px;
}

/* Category Title */
.skill-category {
    margin-bottom: 60px;
}

.skill-category h2 {
    color: #00e5ff;
    font-size: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 1%;
}

/* Skills Grid */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid transparent;
}

/* Skill Card */
.skill-card {
    background: #1b1b1b;
    padding: 16px 28px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 400;
    transition: all 0.3s ease;
    cursor: default;
    will-change: transform;


}

.skill-card svg {
    font-size: 27px;
    color: #ffffff;
}

.skill-card:hover {
    background: radial-gradient(circle at 10% 2%, rgba(14, 223, 247, 0.911), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(173, 134, 150, 0.15), transparent 40%),
        #ac3191;
    color: #000;
    transform: translateY(-1px);
    border: 1px solid #00e5ff;
    box-shadow: 0 0 18px rgba(0, 229, 255, 0.25);
}


.skill-card:hover svg {
    color:#000;
}

/* Responsive */
@media (max-width: 768px) {
    .skills-section {
        height: auto;
        padding: 80px 0;
        background: 0d0d0d;
        color: white;
        font-family: "Poppins", sans-serif;
    }

    .main-title {
        font-size: 36px;
    }

    .skill-category h2 {
        font-size: 22px;
    }

    .skill-card {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 15px 18px;
    }

    .skills-grid {
        display: grid;
        gap: 5px;
        margin-left: 5%;
        margin-top: 5%;
        border: 1px solid transparent;
    }
}